<html>
  <head>
    <script type='text/javascript' src='https://clef.io/static/javascripts/clef.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  </head>
  <body>
    {% if user %}
      <h2>Welcome {{ email }}</h2>
      <p>Here is your information:</p>
      <pre>{{ user }}</pre>
    {% else %}
      <h2>Scan the QR code below to sign in</h2>
      <div id='qr'></div>
    {% endif %}
    <script type='text/javascript'>
      var clef = Clef('360cc9edd45ecc428ca8c3652b5effee');
      clef.initFrame({
        dim:200, 
        inside:'qr',
        redirect_url: 'http://localhost:9292/login'
      });
    </script>
  </body>
</html>