<html>
  <head>
    <script type='text/javascript' src='https://clef.io/static/javascripts/clef.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  </head>
  <body>
    {% if user %}
      <h2>Welcome {{ email }}</h2>
      <p>Here is your information:</p>
      <pre>{{ user }}</pre>
    {% else %}
      <h2>Scan the QR code below to sign in</h2>
      <div id='qr'></div>
    <script type='text/javascript'>
      var clef = Clef('8c9253dca23777745c9102e0be99ea70');
      clef.initFrame({
        dim:200, 
        inside:'qr',
        redirect_url: 'http://localhost:5000/login'
      });
    </script>
    {% endif %}
  </body>
</html>