<h2>Scan the QR code below to sign in</h2>
<script type='text/javascript' class='clef-code' src='https://clef.io/v1/clef.js' data-app-id='bc7b3e3fa9ac6ad3f97df4bb03a5a0f6' data-redirect-url='http://localhost:3000/users/clef_create'></script>