<html>
  <head>
    <script type='text/javascript' src='https://clef.io/static/javascripts/clef.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  </head>
  <body>
    <% if @user %>
      <h2>Welcome <%=@user['info']['email']%></h2>
      <pre>
        <%=@user%>
      </pre>
    <% else %>
      <h2>Scan the QR code below to sign in</h2>
      <div id='qr'></div>
    <script type='text/javascript'>
      var clef = Clef('6f8fb6e642924a5e9e7deacf35292abf');
      clef.initFrame({
        dim:200, 
        inside:'qr',
        redirect_url: 'http://localhost:9292/login'
      });
    </script>
    <% end %>
  </body>
</html>